:root {
  --main-width: 700px;
  --buttons-height: 50px;
}

body {
  margin: auto;
  width: var(--main-width);
  font-family: "Proxima Nova", "Helvetica", "Arial", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--buttons-height);
  border: 3px solid green;
}

.score,
.result {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;

  border: 3px solid green;
}

@media (max-width: 700px) {
  :root {
    --main-width: 95%;
  }
}

@media (max-width: 500px) {
  :root {
    --main-width: 95%;
  }
}
