:root {
  --main-width: 700px;
  --buttons-height: 50px;
  --buttons-font: 32px;
}

body {
  margin: auto;
  width: var(--main-width);
  font-family: "Proxima Nova", "Helvetica", "Arial", sans-serif;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  height: var(--buttons-height);
}

button {
  font-size: var(--buttons-font);
}

@media (max-width: 700px) {
  :root {
    --main-width: 95%;
    --buttons-height: 60px;
    --buttons-font: 24px;
  }
}

@media (max-width: 500px) {
  :root {
    --main-width: 95%;
    --buttons-height: 50px;
    --buttons-font: 14px;
  }
}
